*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*COMMON*/

body {
    font-family: "Whitney", sans-serif;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/*buttons*/
.btn {
    display: inline-block;
    border-radius: 40px;
    text-decoration: none;
    line-height: normal;
}
.btn-small {
    font-size: 14px;
    padding: 10px 14px;
}
.btn-large {
    padding: 16px 32px;
    font-size: 20px;
}
.btn-black {
    background-color: #23272a;
    color: white;
}
.btn-black:hover {
    background-color: white;
    color: #23272a;
}
.btn-white {
    background-color: white;
    color: #23272a;
}
.btn-white:hover {
    background-color: #23272a;
    color: white;
}
.btn-back-main-bottom-signup {
    background-color: #8ea1e1;
    color: white;
}
.main-bottom .btn {
    padding: 10px 26px;
}
.col-float-right {
    float: right;
}
/*img*/
.col-img img {
    width: 100%;
}
/* img {
    width: 100%;
} */
/*text and color*/
.title {
    font-size: 55px;
    line-height: 65px;
}
.text {
    font-size: 21px;
    line-height: 33px;
}
.white-text {
    color: white;
}
.back-lighgray {
    background-color: #f6f6f6;
}
/*layout*/
.container {
width: 75%;
margin: auto;
}
.col {
    float: left;
}
.padding-left {
    padding-left: 70px;
} 
.padding-right {
    padding-right: 70px;
}
/*HEADER*/
header {
    background-color: rgba(37, 94, 233, 0.9);
    height: 85px;
    line-height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
}
.logo,
.login {
    width: 10%;
}
/*logo*/
.logo img {
    vertical-align: middle;
}
/*menu*/
.header-menu {
    width: 80%;
    text-align: center;
}
.header-menu ul {
    list-style-type: none;
}
.header-menu li {
    display: inline-block;
    padding-right: 35px;
    vertical-align: middle;
}
.header-menu li:last-child {
    padding-right: 0;
}
.header-menu a {
    color: white;
    font-size: 17px;
    text-decoration: none;
}
.header-menu a:hover {
    border-bottom: 1px solid white;
}
/*login*/
.login {
    width: auto;
    vertical-align: middle;
    text-align: right;
}
/*MAIN*/
/*jumbotron*/
.jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 120px 0;
    color: white;
}
.jumbotron-content {
    width: 50%;
    margin: auto;
}
.jumbotron-content h1 {
    margin-bottom: 40px;
}
/*jumbotron-buttons*/
.buttons {
    margin-top: 25px;
}
.buttons .btn {
    margin-right: 25px;
}
.buttons .btn:last-child {
    margin-right: 0;
}
/*content*/
#margin-top-first-section {
    margin-top: 120px;
}
.main-content .col-img {
    width: 60%;
}
.main-content .col-text {
    width: 40%;
    text-align: left;
}
.col-text .title {
    padding-bottom: 20px;
}
.col-text .text {
    padding-right: 25px;
}
.main-content .col {
    margin-bottom: 170px;
    margin-top: 170px;
}
/*main bottom*/
.main-bottom {
    padding-top: 170px;
    padding-bottom: 120px;
    text-align: center;
}

.img-header-bottom img{
    width: 100%;
}
.main-bottom .title {
    margin-bottom: 20px;
}
.back-stars h3 {
    font-size: 30px;
    line-height: 120px;
    margin: 40px 0;
    display: inline-block;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width: 60%;
}
/*FOOTER*/
footer {
    background-color: #23272a;
    color: white;
}
footer .container {
    padding-top: 100px;
}
.flag {
    font-size: 12px;
    height: 25px;
    line-height: 25px;
}
.flag img {
    width: 20px;
    vertical-align: middle;
}
.col-footer-social {
    width: 36%;
    padding-right: 50px;
}
.col-footer-social .flag {
    display: inline-block;
}
.col-footer-social h3 {
    color: #7289da;
    font-size: 30px;
    padding-bottom: 20px;
}
.col-menu {
    width: 16%;
}
.col-menu ul {
    list-style-type: none;
}
.col-menu li{
    padding-bottom: 15px;
}
.col-menu ul li a {
    color: #e4e5e5;
    text-decoration: none;
}
.col-menu ul li:first-child div {
    color: #7289da;
    font-weight: bold;
}
.col-footer-social,
.col-menu {
    padding-bottom: 20px;
}
.col-logo,
.col-float-right {
    padding-top: 40px;
    padding-bottom: 100px;
}
.col-menu a:hover {
    border-bottom: 1px solid #e4e5e5;
}
i {
    color: white;
}